trigger:
  branches:
    include:
      - master

pool:
  name: mac-self-hosted

variables:
  TF_WORKING_DIR: infra/terraform/core

stages:
- stage: Test
  displayName: Terraform Test Run
  jobs:
  - job: Terraform_Test
    displayName: Terraform Init & Plan
    steps:
    - checkout: self

    - script: |
        cd $(TF_WORKING_DIR)
        terraform version
      displayName: Verify Terraform

    - script: |
        cd $(TF_WORKING_DIR)
        terraform init -input=false
        terraform validate
      displayName: Terraform Init & Validate

    - script: |
        cd $(TF_WORKING_DIR)
        terraform plan
      displayName: Terraform Plan (No Apply)